


$changeAdaptive-width: 1250px;
$changeAdaptive-height: 600px;
.card-focus .card-focus__open-auth{
  display: flex;
}
.card-focus .card-focus__open-profile{
  display: none;
}
.card-focus.auth-active .card-focus__open-auth{
  display: none;
}
.card-focus.auth-active .card-focus__open-profile{
  display: flex;
}

body.card-focus-active {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  & .card-focus {
    display: flex;
  }
}
body.addcontrols-active {
  & .card-focus__addcontrols {
    display: flex;
  }
  & .card-focus__open-addcontrols-open {
    display: none;
  }
  & .card-focus__open-addcontrols-close {
    display: block;
  }
}
body.info-active {
  & .card-focus-info {
    display: flex;
  }
}
body.contact-active {
  & .card-focus-contact {
    display: grid;
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      display: flex;
    };
  }
}
body.video-active {
  overflow: hidden;
  & .card-focus-video-slider {
    display: flex;
  }
}

.card-focus {
  display: none;
  position: relative;
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  &__container {
    position: relative;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      width: calc(100% - 40px);
      height: calc(100% - 40px);
    };
  }

  &__close {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__controls {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      width: 100%;
    };
    & > *:not(:first-child, :last-child) {
      margin-right: 10px;
    }
    & > *:first-child {
      margin-right: 50px;
      @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
        margin-right: auto;
      };
    }
  }

  &__slider-controls {
    display: flex;
    gap: 10px;
  }

  &__open-video {
  }

  &__open-info {
  }

  &__open-addcontrols {
  }

  &__open-addcontrols-open {
    display: block;
  }

  &__open-addcontrols-close {
    display: none;
  }

  &__addcontrols {
    display: none;
    position: absolute;
    gap: 10px;
    bottom: 0px;
    left: 0px;
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      max-width: calc(100dvw - 40px - 48px - 10px);
      flex-wrap: wrap;
      top: 0px;
      bottom: auto;
    };
  }

  &__open-auth {
  }

  &__open-profile {
    padding: 0px 20px;
    & > span {
      font-size: 20px;
      font-weight: 500;
    }
    & > svg {
      width: 32px;
      aspect-ratio: 1/1;
    }
  }

  &__open-news {
  }

  &__open-house {
  }

  &__open-education {
  }

  &__open-message {
  }

  &__open-contact {
    position: relative;
    padding: 0px 17px;
    & > span {
      font-size: 20px;
      font-weight: 500;
      @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
        font-size: 16px;
      }
    }
    & > svg {
      width: 20px;
      aspect-ratio: 1/1;
    }
  }

  &__info {
  }

  &__contact {
  }

  &__slider {
  }

  &__video-slider-inner {
  }

  &__video-slider {
  }
}
.card-focus-slider {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
    & > img {
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      object-fit: cover;
    }
  }
}
.card-focus-info {
  display: none;
  position: absolute;
  width: 100%;
  flex-direction: column;
  bottom: calc(100% + 172px);
  right: 0px;
  cursor: auto;
  @media (max-height: 900px) {
    bottom: calc(100% + 100vh * 0.1);
  };
  @media (max-height: 700px) {
    bottom: calc(100% + 20px);
  };
  @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
    position: fixed;
    overflow-x: scroll;
    width: auto;
    max-width: calc(100dvw - 40px);
    height: 120px;
    flex-direction: row-reverse;
    bottom: auto;
    right: 20px;
    top: 50%;
    translate: 0% -50%;
    gap: 10px;
  }
  &__description {
  }

  &__data {
  }
}
.card-focus-description {
  display: grid;
  padding: 30px;
  border-radius: 25px;
  background: hsl(from var(--element-bgColor) h s l / var(--info-bgColorAlpha));
  grid-template-columns: repeat(2, auto);
  row-gap: 10px;
  margin-bottom: 40px;
  @media (max-height: 700px) {
    margin-bottom: 20px;
  };
  @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
    padding: 20px;
    margin-bottom: 0px;
    max-width: 296px;
  }
  &__title {
    grid-column: 1/3;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-textColor);
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      font-size: 14px;
    };
  }

  &__cost {
    justify-self: start;
    align-self: center;
    font-weight: 700;
    font-size: 30px;
    color: var(--accent-primary-color);
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      font-size: 20px;
    };
  }

  &__city {
    justify-self: end;
    align-self: center;
    font-size: 20px;
    color: var(--secondaire-textColor);
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      font-size: 14px;
    };
  }
}
.card-focus-data {
  display: flex;
  justify-content: space-between;
  @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
    justify-content: flex-end;
    gap: 10px;
  }
  &__point {
  }
}
.card-focus-data-point {
  display: flex;
  width: 120px;
  aspect-ratio: 1/1;
  flex-direction: column;
  border-radius: 25px;
  background: hsl(from var(--element-bgColor) h s l / var(--info-bgColorAlpha));
  align-items: center;
  justify-content: center;
  &__icon {
    margin-bottom: 5px;
  }

  &__title {
    margin-bottom: 7px;
    color: var(--primary-textColor);
    font-size: 13px;
  }

  &__value {
    color: var(--primary-textColor);
    font-size: 13px;
  }
}
.card-focus-contact {
  display: none;
  position: absolute;
  grid-template-columns: 210px;
  gap: 20px;
  max-width: 210px;
  left: 0px;
  bottom: calc(100% + 20px);
  cursor: auto;
  @media (max-height: 1000px) {
    grid-template-columns: 210px 210px;
    left: -230px;
  };
  @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
    position: fixed;
    overflow-x: scroll;
    height: 150px;
    max-width: calc(100dvw - 40px);
    width: fit-content;
    flex-direction: row-reverse;
    top: 50%;
    right: auto;
    left: 20px;
    bottom: auto;
    translate: 0% -50%;
  };
  &__qrcode {
    @media (max-height: 1000px) {
      grid-column: 1/2;
      grid-row: 1/3;
    };
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }

  &__email {
    @media (max-height: 1000px) {
      grid-column: 2/3;
      grid-row: 2/3;
    };
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      width: 175px;
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  &__phone {
    @media (max-height: 1000px) {
      grid-column: 2/3;
      grid-row: 1/2;
    };
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      width: 175px;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}
.card-focus-qrcode {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  border-radius: 25px;
  background: hsl(from var(--element-bgColor) h s l / var(--info-bgColorAlpha));
  row-gap: 15px;
  justify-items: center;
  &__supblock-one,&__supblock-two {
    display: contents;
  }
  @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    &__supblock-one, &__supblock-two {
      display: block;
    }
    &__supblock-one {
      max-width: 106px;
    }
    &__supblock-two {
      max-width: 114px;
      min-width: 110px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__description-one {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
  }

  &__image {
    width: 170px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      width: 100px;
    }
  }

  &__description-two {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  &__button {
  }
}
.card-focus-email {
  padding: 20px;
  background: hsl(from var(--element-bgColor) h s l / var(--info-bgColorAlpha));
  border-radius: 25px;

  &__field {
    margin-bottom: 10px;
  }

  &__field-input {
  }

  &__button {
  }
}
.card-focus-phone {
  padding: 20px;
  background: hsl(from var(--element-bgColor) h s l / var(--info-bgColorAlpha));
  border-radius: 25px;

  &__field {
    margin-bottom: 10px;
  }

  &__field-select {
  }

  &__field-input {
  }

  &__button {
  }
}
.card-focus-phone-field-select {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 5px;
  &__options {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 17px;
    left: 0px;
  }

  &__option {
    display: none;
    width: 26px;
    height: 16px;
    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &.choosed-option {
      display: block;
    }
  }
  &.open .card-focus-phone-field-select__option {
    display: block;
  }

  &__button {
    display: block;
    width: 11px;
    height: 6px;
    background-color: transparent;
    margin-left: 31px;
    & > svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.card-focus-video-slider {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  &__container {
    width: min(1366px, calc(100vw - 224px));
    max-height: calc(100vh - 20px);
    aspect-ratio: 1.74/1;
    overflow: hidden;
  }
  &__wrapper {
    height: 100%;
  }

  &__slide {
    height: 100%;
    aspect-ratio: 1.74/1;
    & > iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__controls {
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 1552px;
    top: 50%;
    left: 50%;
    justify-content: space-between;
    translate: -50% -50%;
    @media (max-width: 1592px) {
      max-width: calc(100% - 40px);
    };
  }

  &__likes {
    position: absolute;
    height: 72px;
    top: 50px;
    right: 50px;
    padding: 0px 20px;
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-textColor);
    @media (max-height: 1000px) {
      top: 20px;
      right: 20px;
    };
    @media (max-width: $changeAdaptive-width) or (max-height: $changeAdaptive-height) {
      padding: 0px 15px;
      font-size: 16px;
    }
  }
}







